.card{
    display: inline-block;
    border-radius: 5px;
    background-color: dodgerblue;
    max-width:100px;
    color:white;
    text-align: center;
    padding:10px;
}

.card-container{
    margin-left:400px;
    margin-top:30px;
}

input::-webkit-calendar-picker-indicator {
    display: none;
  } 