
<div class="container" style="margin-top:200px;margin-left:400px;">
<div class="form-inline active-cyan-4" >
  <input class="form-control form-control-sm mr-3 w-75 dropdown" [(ngModel)]="cardText" style="width:400px" type="text" placeholder="Search" aria-label="Search" list="search">
  <datalist id="search">
      <option *ngFor="let val of locArray" value={{val}}>
      
    </datalist>
  <span class="glyphicon glyphicon-search" style="margin-left:10px"></span>
</div>
</div>
<div class="container card-container">
  <div class="row">
    <div class="col-sm-4">
      <div class="card" >static card</div>
    </div>
  </div>
</div>

